* {

    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.description,
th.description {
    width: 75px;
    max-width: 75px;
}

td.quantity,
th.quantity {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.price,
th.price {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 155px;
    max-width: 155px;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print {

    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}


.invoice {
    margin: 50px;
   
    padding: 20px;
    width: 500px;
    max-width: 500px;
    height: 550px;
}

.header {
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.bon h5 {
    text-align: center;
    font-size: 20px;
}

.header img {
    width: 70px;
}